name: Tests

on:
  push:
    branches: [ master, '0.[0-9]+' ]
  pull_request:
    branches: [ master, '0.[0-9]+' ]
  schedule:
    - cron: '0 0 * * SUN'

jobs:
  build:
    name: Test building of docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jontze/action-mdbook@6c0be56d14c4bf16861b00af61f50ff7400ce502 # v4
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          use-linkcheck: true
      - run: mdbook build

  code-samples:
    name: Test code samples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Generate harness
        working-directory: ./tests
        run: ./generate.sh
      - name: Test code samples
        working-directory: ./tests
        run: cargo test
